<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href='/shoes' target='_blank'><img
                    src='https://i.postimg.cc/9FX9jnht/onlinelogomaker-071819-1711-0651.png' border='0'
                    alt='onlinelogomaker-071819-1711-0651'/></a>
        </div>
        <a class="navbar-brand" href="/shoes"><h1 class="display-4">Shoes by Thrifties</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/shoes">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shoes/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shoes/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shoes/contacts">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light"><br> <br> <br> These are the services we offer...</h1>
            <p class="lead">We offer a wide range of services to meet every type of need. We want to know your needs
                exactly so that we can provide the perfect solution. Let us know what you are looking for and we’ll do
                our best to help. <br><br><br><br></p>

            <p class="lead"></p>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <section class="iq-features">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-12"></div>
                        <div class="col-lg-6 col-md-12">
                            <div class="holderCircle">
                                <div class="round"></div>
                                <div class="dotCircle">
                           <span class="itemDot active itemDot1" data-tab="1">
                           <i class="fa fa-clock-o"></i>
                           <span class="forActive"></span>
                           </span>
                                    <span class="itemDot itemDot2" data-tab="2">
                           <i class="fa fa-comments"></i>
                           <span class="forActive"></span>
                           </span>
                                    <span class="itemDot itemDot3" data-tab="3">
                           <i class="fa fa-user"></i>
                           <span class="forActive"></span>
                           </span>
                                    <span class="itemDot itemDot4" data-tab="4">
                           <i class="fa fa-tags"></i>
                           <span class="forActive"></span>
                           </span>
                                    <span class="itemDot itemDot5" data-tab="5">
                           <i class="fa fa-upload"></i>
                           <span class="forActive"></span>
                           </span>
                                    <span class="itemDot itemDot6" data-tab="6">
                           <i class="fa fa-briefcase"></i>
                           <span class="forActive"></span>
                           </span>
                                </div>
                                <div class="contentCircle">
                                    <div class="CirItem title-box active CirItem1">
                                        <h2 class="title"><span>Automation</span></h2>
                                        <p>Bringing your shoes right to your doorstep <br><br><br></p>
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="CirItem title-box CirItem2">
                                        <h2 class="title"><span>Events</span></h2>
                                        <p>Looking to stand out at your next event? We're the guys for you <br><br><br>
                                        </p>
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="CirItem title-box CirItem3">
                                        <h2 class="title"><span>Responses</span></h2>
                                        <p>Communicate with us in an instant through our platforms and have your desires
                                            fulfilled <br><br><br></p>
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="CirItem title-box CirItem4">
                                        <h2 class="title"><span>Venue Visits</span></h2>
                                        <p>Gift your employees with something new and get them looking their best
                                            <br><br><br></p>
                                        <i class="fa fa-tags"></i>
                                    </div>
                                    <div class="CirItem title-box CirItem5">
                                        <h2 class="title"><span>Wedding Services</span></h2>
                                        <p>Looking for something different for your special day? Give us a shout!
                                            <br><br><br></p>
                                        <i class="fa fa-upload"></i>
                                    </div>
                                    <div class="CirItem title-box CirItem6">
                                        <h2 class="title"><span>Shoes, including Boots & Sneakers</span></h2>
                                        <p>Dirty kicks? We provide cleaning services for a variety of foot wear <br><br><br>
                                        </p>
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12"></div>
                    </div>
                </div>
            </section>
            <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>